// Base Font
$base-font-family: sans-serif;
$base-font-weight: 400;
$base-font-size: 18px;
$base-line-height: 1.4;

// Colors
$base_color: #58595B;
$highlight: #50BD3A;
$border_color: #ccc;
$white: #fff;

// Bootstrap
@import "../vendors/bootstrap"; // Note: Unused CSS parts have been disabled

@import "../vendors/include-media";
@import "../modules/helpers";
