// Base Font
$base-font-family: sans-serif;
$base-margin: 32px;

// Colors
$white: #fff;
$grey_1: #ccc;
$grey_2: #333;
$black: #000;
$green_1: #50BD3A;

$base-color: $grey_2;
$highlight: $green_1;
$border-color: $grey_1;

// Brand Colors
$bc_facebook: #3b5998;
$bc_twitter: #1da1f2;
$bc_googleplus: #dd4b39;
$bc_pinterest: #bd081c;
$bc_email: $grey_2;
$bc_print: $grey_2;

// Sidr
$sidr_width: 345px;
$sidr_close: 44px;
$sidr_total: $sidr_width + $sidr_close;

// Grid
$grid-max-width: 1200px;
$grid-columns: 12;
$grid-gutter-width: 32px;

// Include Media
$breakpoints: (
  'phone'  : 360px,
  'small'  : 768px,
  'tablet' : 768px, // required for include-media
  'medium' : 992px,
  'large'  : 1200px,
  'desktop': $grid-max-width + $grid-gutter-width, // required for include-media
);

@import "../vendor/_include-media";
@import "../modules/helpers";
@import "../modules/_grid";
