// Colors
$base_color: #58595B;
$highlight: #50BD3A;
$border_color: #ccc;
$white: #fff;

// Breakpoints
$breakpoints: (
  'phone': 320px,
  'mobile': 520px,
  'tablet': 768px,
  'desktop': 1024px
);

@import "../modules/all";
