/* Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner {
	padding: 20px 0;
	@include media(">=tablet") {
		padding: 40px 0;
	}
}

/* Entry Content
--------------------------------------------- */


.entry > *,
.entry-comments,
.comment-respond,
.archive .site-main {

	& > *:first-child {
		margin-top: 0;
	}

	@include media(">=tablet") {
		max-width: $content-width;
		margin-left: auto;
		margin-right: auto;
	}

}

.entry-content > * {

	margin: $block-margin 0;
	max-width: 100%;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	&.alignwide {
		margin: calc( 2 * #{$block-margin}) -#{$base-margin};
		max-width: calc( 100% + #{$margin_2x});

		@include media(">=medium") {
			margin: calc( 2 * #{$block-margin}) calc(25% - 25vw);
			max-width: 100vw;
			width: auto;
		}
	}

	&.alignfull {
		margin: calc( 2 * #{$block-margin}) -#{$base-margin};
		max-width: calc( 100% + #{$margin_2x});

		@include media(">=medium") {
			margin: calc( 2 * #{$block-margin} ) calc(50% - 50vw);
			max-width: 100vw;
			width: 100vw;
		}

	}

	&.alignleft {
		/*rtl:ignore*/
		float: left;
		margin: 0 $block-margin $block-margin 0;
	}

	&.alignright {
		/*rtl:ignore*/
		float: right;
		margin: 0 0 $block-margin $block-margin;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;

		@include media(">=tablet") {
			margin-left: 0;
			margin-right: 0;
		}
	}

}

.entry-content {

	ul, ol {
		padding-left: 1rem;

		li {
			padding-bottom: .5rem;

			&:last-child {
				padding-bottom: 0;
			}

			ul, ol {
				padding-top: .5rem;
			}
		}
	}
}

/* Entry Navigation
--------------------------------------------- */

.posts-navigation {
	overflow: hidden;
	width: 100%;

	.nav-previous {
		float: right;
	}

	.nav-next {
		float: left;
	}
}


/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {
		margin: 0 0 $margin_2x;
		font-size: 16px;

		li {
			list-style-type: none;

			article {
				background: $grey_1;
				padding: $base-margin;
			}

			&.staff > article {
				background: $grey_3;
				border-left: 6px solid $grey_6;
			}
		}

		& > li {
			border-radius: 4px;
			box-shadow: 0 2px 8px 0 rgba( $black, .25 );
			overflow: hidden;
			margin-bottom: $base-margin;
		}

		.comment-author {
    		@include font-sizes( 20px, null, 24px );
			margin: 0;

			.says {
				display: none;
			}
		}

		.comment-meta {
			@include font-sizes( 12px, null, 14px );
		}

		.comment-content {

			p:last-child {
				margin: 0;
			}
		}

		ul.children {
			margin: 0;

			li {
				border-top: 1px solid $border-color;
			}
		}

	}

	.comment-respond {

		input[type="email"],
		input[type="text"],
		input[type="url"] {
			width: 50%
		}

		label {
			display: block;
			margin-right: 12px;

			&[for="subscribe"],
			&[for="wp-comment-cookies-consent"] {
				display: inline-block;
			}
		}

	}
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}
