/* Add left/right padding to these containers */
.wrap {
    @include make-container;
    max-width: $max_width;
    margin: 0 auto;

    @include media(">=tablet", "<large") {
        .col-sm-first {
            clear: both;
        }
    }

    @include media(">=large", "<xl") {
        .col-md-first {
            clear: both;
        }
    }

    @include media(">=xl") {
        .col-lg-first {
            clear: both;
        }
    }
}

/* Single
--------------------------------------------- */

.layout-standard {

	.site-main {
		@include make-row;
		justify-content: center;

		& > .hentry {
			@include make-col-ready;
			@include make-col(12);
			@include media(">=large") {
				@include make-col(10);
			}
		}
	}
}
