/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.nav-primary {
	float: right;
	width: auto;
	@include media("<tablet") {
		display: none;
	}
}

.nav-menu {

	ul {
		clear: both;
		line-height: 1;
		width: 100%;
	}

	.menu > li:last-child > a {
		padding-right: 0;
	}

	.menu-item {
		float: left;
		list-style: none;

		a {
			border: none;
			color: $base_color;
			display: block;
			font-size: 16px;
			font-weight: 400;
			padding: 20px 22px 10px;
			position: relative;
		}

		&:hover > a,
		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: $highlight;
		}

		&:hover {
			position: static;

			& > .sub-menu {
				left: auto;
				opacity: 1;
			}
		}
	}

	.sub-menu {
		background: $highlight;
		left: -9999px;
		opacity: 0;
		padding: 10px 0;
		position: absolute;
		width: 250px;
		z-index: 99;

		a {
			background: transparent;
			color: $white;
			padding: 8px 20px;
			position: relative;
			width: 250px;
		}

		.menu-item:hover > a,
		.current-menu-item > a {
			color: $white;
		}

		.sub-menu {
			margin: -54px 0 0 199px;
		}
	}
}


/* Mobile Menu
--------------------------------------------- */

.nav-mobile {
	float: right;
	width: auto;
	@include media(">tablet") {
		display: none;
	}
}

.mobile-menu-toggle .icon-close,
.sidr-open .mobile-menu-toggle .icon-menu {
	display: none;
}

.sidr-open .mobile-menu-toggle .icon-close {
	display: inline-block;
}

body.sidr-open:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, .7);
	z-index:999998;
}

.sidr {
	background: $white;
	display:block;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:345px;

	@include media("<phone"){
		width: calc(100% - 40px);
	}
}

.sidr.right {
	left:auto;
	right:-345px;
}

.sidr.left {
	left:-345px;
	right:auto;
}

.sidr-menu-close {
	background: $highlight;
	color: $white;
	display: none;
	position: absolute;
	left: -40px;
	top: 0;
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 40px;
	z-index:999999;

	.sidr-open & {
		display: block;
	}

	&:hover {
		text-decoration: none;
	}
}

.sidr .menu li {
	list-style-type: none;
}

.sidr .menu a {
	background: $white;
	border-bottom: 1px solid $border_color;
	color: $highlight;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	padding: 10px 10px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.sidr li.menu-item-has-children {
	position: relative;
}

.sidr li.menu-item-has-children > .submenu-toggle {
	background: $white;
	cursor: pointer;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
}

.sidr li.menu-item-has-children > .submenu-toggle:hover,
.sidr li.menu-item-has-children.submenu-active > .submenu-toggle {
	background: $highlight;
	color: $white;
}

.sidr li.menu-item-has-children > .submenu-toggle:before {
	content: '>';
}

.sidr ul li.submenu-active > .submenu-toggle:before {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	display: block;
}

.sidr ul li ul {
  display: none;
}

.sidr ul li.submenu-active > ul {
	display: block;
}

.sidr ul.menu ul a {
	background: darken( $white, 5%);
	padding-left: 25px;
}

.sidr ul.menu ul ul a {
	background: darken( $white, 10%);
	padding-left: 38px;
}
