/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}
