/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "logo nav";
	padding: 16px;
}

.title-area {
	grid-area: logo;
	width: 165px;

	h1.site-title,
	p.site-title {
		margin: 0;
	}
}

.nav-primary {
	grid-area: nav;
	justify-self: right;
}

/* Admin Bar
--------------------------------------------- */

@include media(">=tablet" ) {
	.admin-bar .site-container {
		padding-top: 32px;
	}
}

@include media("<tablet") {
	#wpadminbar {
		display: none !important;
	}
}

/* Site Navigation
--------------------------------------------- */

.mobile-menu-toggle {
	@include media(">=tablet") {
		display: none;
	}
}

.nav-menu {

	ul {
		clear: both;
		line-height: 1;
		margin: 0;
		width: 100%;
	}

	.menu-item {
		float: left;
		list-style: none;

		a {
			border: none;
			color: $base-color;
			display: block;
			font-size: 16px;
			padding: 20px 22px 10px;
			position: relative;
		}

		&:hover > a,
		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			color: $highlight;
		}

		&:hover {
			position: static;

			& > .sub-menu {
				left: auto;
				opacity: 1;
			}
		}
	}

	.sub-menu {
		background: $highlight;
		left: -9999px;
		opacity: 0;
		padding: 10px 0;
		position: absolute;
		width: 250px;
		z-index: 99;

		a {
			background: transparent;
			color: $white;
			padding: 8px 20px;
			position: relative;
			width: 250px;
		}

		.menu-item:hover > a,
		.current-menu-item > a {
			color: $white;
		}

		.sub-menu {
			margin: -54px 0 0 199px;
		}
	}
}
