// Base Font
$base-font-family: 'Cormorant Garamond', serif;
$base-margin: 32px;

// Colors
$black: #000;
$grey_1: #313031;
$grey_2: #4A4A4A;
$grey_3: #595959;
$grey_4: #9B9B9B;
$white: #fff;
$beige: #EDEBE3;
$orange_1: #FF8811;
$orange_2: #FE4A49;
$orange_3: #C66E15;
$green_1: #59A96A;
$green_2: #59CC71;

$base-color: $grey_2;
$highlight: $orange_1;
$border-color: $grey_4;

// Sidr
$sidr_width: 288px;
$sidr_close: 48px;
$sidr_total: $sidr_width + $sidr_close;

// Breakpoints
$screen-xs: 0;
$screen-sm: $sidr_total;
$screen-md: 768px;
$screen-lg: 1024px;
$max-width: 1168px;

// Bootstrap
$grid-gutter-width: 32px;
$grid-breakpoints: (
	xs: $screen-xs,
	sm: $screen-sm,
	md: $screen-md,
	lg: $screen-lg,
	xl: $max-width,
);

// Include Media
$breakpoints: (
  'mobile': $screen-xs,
  'small' : $screen-sm,
  'tablet': $screen-md,
  'medium': $screen-lg,
  'large' : $max-width,
  'sidr_total': $sidr_total,
);

@import "../vendor/bootstrap"; // Note: Unused CSS parts have been disabled
@import "../vendor/_include-media";
@import "../modules/helpers";
