/* Add left/right padding to these containers */
.wrap {
    @include make-container;
    max-width: $max_width;
    margin: 0 auto;

	@include media-breakpoint-between(md, lg) {
        .col-sm-first {
            clear: both;
        }
    }

	@include media-breakpoint-between(lg, xl ) {
        .col-md-first {
            clear: both;
        }
    }

	@include media-breakpoint-up(xl) {
        .col-lg-first {
            clear: both;
        }
    }
}

/* Single
--------------------------------------------- */

.layout-standard {

	.site-main {
		@include make-row;
		justify-content: center;

		& > .hentry,
		& > .posts-navigation {
			@include make-col-ready;
			@include make-col(12);
			@include media-breakpoint-up(lg) {
				@include make-col(10);
			}
		}
	}
}
