/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background: $grey_2;
	padding: 16px 0;
	overflow: hidden;
	width: 100%;

	@include media("<tablet") {

		.footer-logo,
		.footer-info,
		.footer-workshop {
			margin: 0 auto 16px;
		}

		.footer-workshop {
			margin-bottom: 0;
		}
	}

	@include media(">=tablet") {

		.footer-logo,
		.footer-info {
			float: left;
		}

		.footer-info {
			margin-left: 25px;
			padding-top: 16px;
		}

		.footer-workshop {
			float: right;
			padding-top: 23px;
		}
	}

	.footer-logo {
		width: 91px;

		a {
			background: url(../images/logo@2x.png) no-repeat center center;
			background-size: contain;
			display: block;
			width: 100%;
			padding-bottom: 185.7%;
		}
	}

	.footer-info {
		color: $white;
		width: 250px;
		text-align: center;
	}

	.footer-workshop {
		width: 123px;

		a {
			background: url(../images/workshop-logo.png) no-repeat center center;
			background-size: contain;
			display: block;
			width: 100%;
			padding-bottom: 100%;
		}
	}
}

/* Footer Nav
--------------------------------------------- */

.nav-footer {
	background: $grey_3;
	line-height: 1.1em;
	overflow: hidden;
	padding: 4px 0;
	text-align: center;
	width: 100%;

	@include media("<tablet") {
		display: none;
	}

	.menu-item {
		float: none;
		display: inline-block;

		a {
			color: $white;
			font-size: 12px;
		}
	}
}


/* Copyright
--------------------------------------------- */

div.copyright {
	background: $grey_1;
	color: rgba( $white, .35 );
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: .071em;
	font-size: 10px;
	line-height: 1.2;
	padding: 10px 16px;
	text-align: center;
	text-transform: uppercase;
}
