/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 20px;
}

.site-inner {
	clear: both;
}

/* Column Widths and Positions
--------------------------------------------- */

@include media(">=tablet") {

  /* Content */

  .sidebar-content .content-area,
	.content-sidebar .content-area {
  	float: left;
  	width: 64.912280702%; /* 740/1140 */
  }

  .sidebar-content .content-area {
  	float: right;
  }

  /* Primary Sidebar */

  .widget-area {
  	float: right;
  	width: 31.578947368%; /* 360/1140 */
  }

  .sidebar-content .widget-area {
  	float: left;
  }

}
