/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.nav-primary {
	float: right;
	width: auto;
	@include media("<tablet") {
		display: none;
	}
}

.nav-menu ul {
	clear: both;
	color: #999;
	line-height: 1.5;
	width: 100%;
}

.nav-menu .menu-item {
	float: left;
	list-style: none;
}

.nav-menu a {
	border: none;
	color: $base_color;
	display: block;
	padding: 28px 24px;
	position: relative;
}

.nav-menu .menu-item:hover > a,
.nav-menu .current-menu-item > a,
.nav-menu .sub-menu .current-menu-item > a:hover {
	color: $highlight;
}

.nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	width: 200px;
	z-index: 99;
}

.nav-menu .sub-menu a {
	background-color: $white;
	border: 1px solid $border_color;
	border-top: none;
	font-size: 14px;
	padding: 16px 20px;
	position: relative;
	width: 200px;
}

.nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 199px;
}

.nav-menu .menu-item:hover {
	position: static;
}

.nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

/* Mobile Menu
--------------------------------------------- */

.nav-mobile {
	float: right;
	width: auto;
	@include media(">tablet") {
		display: none;
	}
}

.mobile-menu-toggle .icon-close,
.sidr-open .mobile-menu-toggle .icon-menu {
	display: none;
}

.sidr-open .mobile-menu-toggle .icon-close {
	display: inline-block;
}

body.sidr-open:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, .7);
	z-index:999998;
}

.sidr {
	background: $white;
	display:block;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:345px;

	@include media("<phone"){
		width: calc(100% - 40px);
	}
}

.sidr.right {
	left:auto;
	right:-345px;
}

.sidr.left {
	left:-345px;
	right:auto;
}

.sidr-menu-close {
	background: $highlight;
	color: $white;
	display: none;
	position: absolute;
	left: -40px;
	top: 0;
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 40px;
	z-index:999999;

	.sidr-open & {
		display: block;
	}

	&:hover {
		text-decoration: none;
	}
}

.sidr .menu li {
	list-style-type: none;
}

.sidr .menu a {
	background: $white;
	border-bottom: 1px solid $border_color;
	color: $highlight;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	padding: 10px 10px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.sidr li.menu-item-has-children {
	position: relative;
}

.sidr li.menu-item-has-children > .submenu-toggle {
	background: $white;
	cursor: pointer;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
}

.sidr li.menu-item-has-children > .submenu-toggle:hover,
.sidr li.menu-item-has-children.submenu-active > .submenu-toggle {
	background: $highlight;
	color: $white;
}

.sidr li.menu-item-has-children > .submenu-toggle:before {
	content: '>';
}

.sidr ul li.submenu-active > .submenu-toggle:before {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	display: block;
}

.sidr ul li ul {
  display: none;
}

.sidr ul li.submenu-active > ul {
	display: block;
}

.sidr ul.menu ul a {
	background: darken( $white, 9%);
	padding-left: 25px;
}

.sidr ul.menu ul ul a {
	background: darken( $white, 18%);
	padding-left: 38px;
}
