/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	color: #999;
	font-size: 14px;
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin-bottom: 0;
}
