/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.nav-primary {
	float: right;
	width: auto;
	@include media("<tablet") {
		display: none;
	}
}

.nav-menu ul {
	clear: both;
	color: #999;
	line-height: 1.5;
	width: 100%;
}

.nav-menu .menu-item {
	float: left;
	list-style: none;
}

.nav-menu a {
	border: none;
	color: #999;
	display: block;
	padding: 28px 24px;
	position: relative;
}

.nav-menu .menu-item:hover > a,
.nav-menu .current-menu-item > a,
.nav-menu .sub-menu .current-menu-item > a:hover {
	color: #333;
}

.nav-menu .sub-menu .current-menu-item > a {
	color: #999;
}

.nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	width: 200px;
	z-index: 99;
}

.nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: none;
	font-size: 14px;
	padding: 16px 20px;
	position: relative;
	width: 200px;
}

.nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 199px;
}

.nav-menu .menu-item:hover {
	position: static;
}

.nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

/* Mobile Menu
--------------------------------------------- */

.nav-mobile {
	float: right;
	width: auto;
	@include media(">tablet") {
		display: none;
	}
}

.mobile-menu-toggle .icon-close,
.sidr-open .mobile-menu-toggle .icon-menu {
	display: none;
}

.sidr-open .mobile-menu-toggle .icon-close {
	display: inline-block;
}

.sidr {
	background: #2E1E12;
	display:block;
	position:fixed;
	top:0;
	height:100%;
	z-index:999999;
	width:345px;
	overflow-x:hidden;
	overflow-y:auto;

	@include media("<phone"){
		width: calc(100% - 40px);
	}
}

.sidr.right {
	left:auto;
	right:-345px;
}

.sidr.left {
	left:-345px;
	right:auto;
}

.sidr .menu a {
	background: #62483B;
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 2px;
	padding: 10px 10px 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.sidr li.menu-item-has-children {
	position: relative;
}

.sidr li.menu-item-has-children > .submenu-toggle {
	background: #73584B;
	cursor: pointer;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
}

.sidr li.menu-item-has-children > .submenu-toggle:hover,
.sidr li.menu-item-has-children.submenu-active > .submenu-toggle {
	background: #7F635E;
}

.sidr li.menu-item-has-children > .submenu-toggle:before {
	content: '>';
}

.sidr ul li.submenu-active > .submenu-toggle:before,
.sidr ul li.current-menu-item > .submenu-toggle:before {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.sidr ul li ul {
  display: none;
}

.sidr ul li.submenu-active > ul {
	display: block;
}
