@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cr5eyb');
  src:  url('fonts/icomoon.eot?cr5eyb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?cr5eyb') format('woff2'),
    url('fonts/icomoon.ttf?cr5eyb') format('truetype'),
    url('fonts/icomoon.woff?cr5eyb') format('woff'),
    url('fonts/icomoon.svg?cr5eyb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e902";
}
.icon-angle-left:before {
  content: "\e903";
}
.icon-angle-right:before {
  content: "\e904";
}
.icon-angle-up:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
